.top__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
   
}
.greet{
  font-weight: 500;
  
}


.top__nav-wrapper {
 
 
  padding: 0px 10px;
}

  
.search__box {
  width: 15vw;
  height: 70px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content:space-around ;
  padding: 0px 1vw;
  background: #ffffff !important;
  border-radius: 5px;
  cursor: pointer;
 
  /* width: 180px; */
}

.search__box input {
  background: transparent;
  border: none;
  outline: none;
  color: black;
}

.search__box input::placeholder {
  color: black;
}

.search__box span i {
  color: black;
}

  
  