@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }
    .Logo{
        font-family: 'SEGA LOGO FONT';
        font-weight: 300;
        color: #0ccac4;
    }
    .custom{
      width: 80vw;
      display: flex;
      
      margin-left: 20px;
    }
  
   .cardcss{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    

    margin:15px 15px ;
    padding-bottom: 40px;
    background-color: rgb(240, 228, 252);
  }
.robos{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    
}  
.taac{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    line-height:0px;
    margin-top:10px
}