.dashboard { 
 width:100%;
 padding-left:35px;
 padding-right: 10px;
 display: flex;
 
 overflow-x: hidden;


}





.single__card {
 
  display: flex;
  justify-content: center;
  padding: 00px 15px;
  background:white; 
  border-radius: 20px;
  cursor: pointer;
}


.perc_prof{
  color: rgb(1, 1, 4);
  display: flex;
  justify-content: center;
  
  
}

.card__content  {
  color: grey;
  font-size: .8rem;
  font-style: italic;
  font-weight: 0;
}
.card__content h2 {
  color: rgb(7, 7, 7);
  font-size: 1.1rem;
  font-style: bold;
  
}
.loss{
  color:red;
}
.profit{
  color: green;
}






.card__icon {
  font-size: 6rem;  
  font-weight: 400 !important;
  display: flex;
  align-self: center;

}


.dashboard__cards {
  width: 100%;
  margin-top: 1vw;
  display: grid;

  grid-template-columns:  repeat(auto-fit, minmax(150px,1fr));
  row-gap: 2rem;
  column-gap:3rem;
}

.statics {
  display: flex;

  margin-top: 1vw;
  width: 100%;
  
}

.stats {
  width:100%;
  padding-left: 20px;
  
  background: rgb(255, 255, 255);
  
  
}
.chart{
  width: 60vw;
  
  height: 40vh;
}
.stat_head{
  display: flex;
  justify-content: space-between;
  
}
.quarter{
color: grey;
text-align: end;
background-color: white;
border-color: white;
}


.barr:hover{
  fill:#5a32ea;

}




.piechart{
  
  border: 2px;
  margin-left: 1vw;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.piechart img{
  width:15vw;
 
}

.piechart h5{
  color: grey;
}

.footer {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 100%;
  padding-left: 20px;
  margin-top:10px;
  border-radius: 10px;
  
}
.prosearch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background: #ffffff !important;
  border-radius: 5px;
  
}
.searchBar input {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(166, 163, 163);
}
.searchBar{
  display: flex;
  width: 10vw;
  justify-content: space-between;
  padding: 0px 10px;
}

.searchBar input::placeholder {
  color:grey;
}

.searchBar span i {
  color:grey;
}
.lastdays{
  color: grey;
  background-color: white;
  border-color: white;
  margin-left: 0px;
  margin-top: 0px;
}

 .headDetails{
  
  color: grey;
  padding: 0px 10px;
  margin-left: 0px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 40% 17% 17% 12%;
 
 }
.stock{
  color: #393636;

}
.price{
  color: #000000;

}

.hLine{
  color: rgb(252, 243, 243);

  
}

.recommend__car-img img{
  width:40%;
}

.recommend__car-card{
  background-color: white;
  padding: 15px 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 14% 25% 18%;
  
}




.recommend__car-bottom{
  padding: 0px 10px;
}
@media (max-width:700px){.piechart{
  display: none;

 }
 .stats{
  width: 84vw;
 }
 .chart{
  width: 100%;
 }

 }