.income{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px; 
    padding: 0px 20px;
    padding-bottom: 10px;

}
.statts{
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 80vw;
    height: 100%;
    padding: 20px 20px;
    border-radius: 10px;
  
}
.statt_head{
    display: flex;
    justify-content: space-between;
}
.earnchart{
    width: 100%;
  
    height: 40vh;
}
.pieBox{
 width: 60vw;
 height: 70vh;
    margin-top: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

}


.piecBox h2{
    color: rgb(0, 0, 0);


    
}


@media (max-width:1000px) {
    .pieBox{
        width: 80vw;
        
        overflow: hidden;
    }
}